# Importing Dependencies

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import pandas_datareader
import pandas_datareader.data as web
import datetime
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense,LSTM,Dropout
%matplotlib inline

In [3]:
start = datetime.datetime(2019,1,1)
end = datetime.datetime.today()

In [7]:
QQQ = web.DataReader("QQQ", "yahoo", start, end)
QQQ.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,155.750000,150.880005,150.990005,154.880005,58576700.0,152.012131
2019-01-03,153.259995,149.490005,152.600006,149.820007,74820200.0,147.045837
2019-01-04,157.000000,151.740005,152.339996,156.229996,74709300.0,153.337143
2019-01-07,158.860001,156.110001,156.619995,158.089996,52059300.0,155.162704
2019-01-08,160.110001,157.199997,159.539993,159.520004,49388700.0,156.566238